<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FeedChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FeedChecker.Properties.Settings>
            <setting name="USERNAME" serializeAs="String">
                <value>pvogt</value>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="VOLUME" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FEEDURL" serializeAs="String">
                <value>https://pvogt:-password-@nbl.fh-bielefeld.de/privfeed.php?client_id=FH-elefeld&amp;user_id=182803&amp;hash=e29726f5b9de8c243b60f0d074f27ee5</value>
            </setting>
        </FeedChecker.Properties.Settings>
    </userSettings>
</configuration>